<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nativesparksapp">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logosparky"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NativeSparksApp"
        tools:targetApi="31">

        <!-- LoginActivity come LAUNCHER -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <!-- Callback wallet -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="nativesparksapp"
                    android:host="callback"
                    android:path="/wallet_login"/>
            </intent-filter>
        </activity>

        <!-- FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"/>
        </provider>

        <!-- RegisterActivity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="nativesparksapp"
                    android:host="callback"
                    android:path="/wallet"/>
            </intent-filter>
        </activity>

        <!-- Game / Profilo / varie -->
        <activity android:name=".GameLaunchActivity" android:exported="false"/>
        <activity android:name=".ProfileActivity" android:exported="false"/>
        <activity android:name=".EditProfileActivity" android:exported="false"/>
        <activity android:name=".ContactsActivity" android:exported="false"/>
        <activity android:name=".PrivacyPolicyActivity" android:exported="false"/>
        <activity android:name=".LeaderboardActivity" android:exported="false"/>
        <activity android:name=".AcademyActivity" android:exported="false"/>
        <activity android:name=".WebViewActivity" android:exported="false"/>
        <activity android:name=".LeaderboardHomeActivity" android:exported="false"/>
        <activity android:name=".MyScoreActivity" android:exported="false"/>

        <!-- Unity Player personalizzato -->
        <activity
            android:name=".CustomUnityPlayerActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="fullSensor"
            android:theme="@style/UnityThemeSelector"/>
    </application>

</manifest>
